<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="user" id="username"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="pass" data-testid="password"/>
    </div>
    <div>
        <input type="submit" value="Submit" id="submit"/>
    </div>
</form>